<div class="jumbotron bg-white text-center">
    <h1 class="display-4">Corona Covid-19 Tracker Country Wise</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, libero! Ipsam dolore quasi harum, dolorem repudiandae delectus deserunt rerum dolorum natus, maxime in saepe voluptas eum exercitationem! Dolor, pariatur rem?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae eum, vel fugiat incidunt quos hic placeat voluptate ullam asperiores laboriosam, quod quis, iure similique blanditiis nobis! Praesentium suscipit illum cupiditate!</p>
</div>